* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#sideimage {
    background-color: darkgreen;
    background-image: url("./images/stream.jpg");
    height: 970px;
    width: 33vw;
    display: flex;
    flex-direction: row;
}

#logobox {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    height: 100px;
    width: 33vw;
    background-color: gray;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 72px;
    width: auto;
}

#name {
    color: aliceblue;
    margin-left: 10px;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 970px;
    width: 67vw;

}

#text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 50px;
    margin-top: 100px;
    background-color: whitesmoke;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 67vw;
    border: none;
    box-shadow: 0px 10px 5px lightgray;
    background-color: white;
}

fieldset div {
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 15px;

}

legend {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 50px;  
}

label,input{
    display:flex;
    flex-direction:column;
    width: 200px;
  }

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: gray;
}

fieldset input {
    border: 1px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

#user_password:invalid,#confirm_password:invalid {
    border-color: red;
}
  
#user_password:valid,#confirm_password:valid {
    border-color: green;
}

button {
    background-color: forestgreen;
    width: 250px;
    height: 75px;
    border-radius: 10px;
    border-color: #E5E7EB;
    border: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
}

#login {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding-left: 50px;
    margin-bottom: 50px;
}

a {
    color: forestgreen;
    text-decoration: none;
    font-weight: bold;
}